.sort__filter {
  display: flex;
  justify-content: space-between;
  height: 60px;
  background-color: #ededed;
  align-items: center;
  padding : 0 20px;
}
.sort__filter-search {
  display: inline-block;
  font-size: 0;
}
.sort__filter-text {
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 400;
  margin-right: 10px;
  opacity: 0.8;
}
.sort__filter-btn {
  margin-right: 10px;
  padding: 8px 15px;
  opacity: 0.8;
}
.sort__filter-btn-active {
  background-color: #fb5433;
  color: var(--white-color);
}
.sort__filter--price {
  position: relative;


}
.sort__filter--price:hover .sort__filter-select-input{
  display: block;
}
.sort__filter-select-input {
  position: absolute;
  padding-left: 0;
  margin : 1px 0 0;
  top: 100%;
  right: 0;
  display: none;
  z-index: 1;

}
.sort__filter-select-input-item {
  list-style: none;
  font-size: 1.4rem;
  min-width: 216px;
  border-radius: 2px;
  cursor: default;
  padding : 8px 15px;
  background-color: var(--white-color);
}

.sort__filter-select-input-link {
  text-decoration: none;
  color: var(--black-color);
  width: 100%;
  display: block;
}
.sort__filter-select-input-link:hover {
  color: #fb5433;
}
.sort__filter--page {
  display: inline-block;
  color : #fb5433;
  font-size: 1.4rem;
}
.sort__filter--page-num {
  display: inline-block;
  margin-right: 16px;

}
.sort__filter--page-sum {
  color: var(--black-color);
}
.sort__filter--page-btn {
  display: inline-block;
  font-size: 0;
}
.sort__filter--price i {
  cursor: pointer;
}
.sort__filter--page-btn-index {
  padding: 9px 14px;
  font-size: 1rem;
}
.sort__filter--page-btn-index:first-child {
  border-right: 1px solid #ccc;
}